/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "CASEMEK";
bindings = <
    &kp TAB   &kp Q &kp W &kp F &kp P &kp B &kp C_MUTE &kp C_PP &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
    &kp LCTRL &kp A &kp R &kp S &kp T &kp G &kp LALT   &kp RALT &kp M &kp N  &kp E     &kp I   &kp O    &kp SQT
    &kp LSHFT &kp Z &kp X &kp C &kp D &kp V                     &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp ESC
                              &mo 1    &kp LSHIFT  &kp SPACE              &kp RET &kp BSPC    &mo 2 
>;

        lower_layer {
            display-name = "Numbers";
            bindings = <
                /* Left hand grid */
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5
                &kp 6 &kp 7 &kp 8 &kp 9 &kp 0
                &kp NO &kp NO &kp NO &kp NO &kp NO

                /* Right hand grid */
                &kp NO &kp NO &kp NO &kp NO &kp NO
                &kp NO &kp NO &kp NO &kp NO &kp NO
                &kp NO &kp NO &kp NO &kp NO &kp NO

                /* Thumb cluster */
                &kp LCTRL &trans &kp SPACE &kp RET &kp BSPC &kp RALT
            >;
        };

        raise_layer {
            display-name = "Symbols";
            bindings = <
                /* Left hand grid */
                &kp EXCL &kp AT &kp HASH &kp DLLR &kp PERC
                &kp CIRC &kp AMPS &kp ASTER &kp LPAR &kp RPAR
                &kp UNDERS &kp PLUS &kp LBRC &kp RBRC &kp PIPE

                /* Right hand grid */
                &kp TILD &kp GRAVE &kp COLON &kp SCLN &kp QUOTE
                &kp LT &kp GT &kp COMMA &kp DOT &kp SLASH
                &kp NO &kp NO &kp NO &kp NO &kp NO

                /* Thumb cluster */
                &kp LCTRL &trans &kp SPACE &kp RET &kp BSPC &kp RALT
            >;
        };
    };
};
